<section id="one">
    <header class="major">
        <h2>Welcome! I'm Martijn Hidding.</h2>
    </header>
    <p>
        I have recently moved into industry as a quant researcher, but please don't hesitate to contact me if you have any questions about my research work or <strong>DiffExp</strong>. I completed my PhD at the <strong>School of Mathematics at Trinity College Dublin</strong>, where my work centered on scattering amplitudes in gauge theories and the computation of multiloop Feynman integrals. 
    </p>
    <p>
        My research interests include special functions in Quantum Field Theory (QFT), string amplitudes, and the utilization of numerical methods for Feynman integrals. I developed a Mathematica package called <strong>DiffExp</strong> for computing multiloop Feynman integrals, which has been widely used in the particle physics community. My academic journey has rewarded me with a strong proficiency in various computational tools. I am adept at programming languages such as C++ and Python, and have consistently employed computer algebra systems, primarily <strong>Wolfram Mathematica</strong>, throughout my research.
    </p>
    <p>
        In my last academic job, I was a postdoctoral researcher at <strong>ETH Zurich</strong>, focusing on special functions in QFT and numerical methods for Feynman integrals. Before that, I completed a postdoc at <strong>Uppsala University</strong>. I also co-organized a number of conferences and served as a teaching assistant at Trinity College Dublin, covering courses from general relativity to quantum mechanics.
    </p>
</section>

<section id="three">
    <h2>Get In Touch</h2>
    <p>Are you interested in my research or do you have questions about my academic pursuits? Feel free to reach out to me via the form below.</p>
    <div class="row">
        <div class="col-12">
            <form method="post" action="https://formspree.io/f/mdorepjg" id="contactForm">
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="_next" value="#thankyou" />
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
                    <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
                    <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>