<section id="one">
    <h2>Electronic music</h2>
    <p>Outside of academics, I have an interest in electronic music production. Leveraging tools like Renoise and the Polyend Tracker (and many other DAW's like FL Studio, Reason, Ableton), I make tracks that range from atmospheric ambient to drum and bass, reflecting a blend of traditional and modern electronic styles. You can explore some of my compositions on my <a href="https://www.youtube.com/@vcollapse">YouTube channel <i class="fab fa-youtube"></i></a>.</p>

    <div class="youtube-container">
      <iframe class="youtube-video" src="https://www.youtube.com/embed/j99xYukQwGE" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
	  </div>
    <br/>
    <div class="youtube-container">
      <iframe class="youtube-video" src="https://www.youtube.com/embed/wgCirD7HKdc" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    <br/>
	</div>
</section>