<section id="one">
<h2>List of publications</h2>
    <p>
        You can find more detailed information about my publications on <a href="https://inspirehep.net/authors/1826965" target="_blank">InspireHEP</a>
    </p>
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2312.00697" target="_blank">Motivic coaction and single-valued map of polylogarithms from zeta generators</a></h4>
            <p>Hadleigh Frost, Martijn Hidding, Deepak Kamlesh, Carlos Rodriguez, Oliver Schlotterer</p>
            <p>Published in: December 2023 • e-Print: <a href="https://arxiv.org/abs/2312.00697" target="_blank">2312.00697 [hep-th]</a></p>
        </header>
    </div>    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2308.05044" target="_blank">Cyclic products of higher-genus Szegö kernels, modular tensors and polylogarithms</a></h4>
            <p>Eric D'Hoker, Martijn Hidding, Oliver Schlotterer</p>
            <p>Published in: August 2023 • e-Print: <a href="https://arxiv.org/abs/2308.05044" target="_blank">2308.05044 [hep-th]</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2306.08644" target="_blank">Constructing polylogarithms on higher-genus Riemann surfaces</a></h4>
            <p>Eric D'Hoker, Martijn Hidding, Oliver Schlotterer</p>
            <p>Published in: June 2023 • e-Print: <a href="https://arxiv.org/abs/2306.08644" target="_blank">2306.08644 [hep-th]</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2211.09069" target="_blank">Cyclic products of Szegö kernels and spin structure sums. Part I. Hyper-elliptic formulation</a></h4>
            <p>Eric D'Hoker, Martijn Hidding, Oliver Schlotterer</p>
            <p>Published in: May 2023 • e-Print: <a href="https://arxiv.org/abs/2211.09069" target="_blank">2211.09069 [hep-th]</a></p>
            <p>DOI: <a href="https://doi.org/10.1007/JHEP05(2023)073" target="_blank">10.1007/JHEP05(2023)073</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2209.06772" target="_blank">Modular graph forms from equivariant iterated Eisenstein integrals</a></h4>
            <p>Daniele Dorigoni, Mehregan Doroudiani, Joshua Drewitt, Martijn Hidding, Axel Kleinschmidt, Nils Matthes, Oliver Schlotterer, Bram Verbeek</p>
            <p>Published in: December 2022 • e-Print: <a href="https://arxiv.org/abs/2209.06772" target="_blank">2209.06772 [hep-th]</a></p>
            <p>DOI: <a href="https://doi.org/10.1007/JHEP12(2022)162" target="_blank">10.1007/JHEP12(2022)162</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2208.11116" target="_blank">Elliptic modular graph forms II: Iterated integrals</a></h4>
            <p>Martijn Hidding, Oliver Schlotterer, Bram Verbeek</p>
            <p>Published in: August 2022 • e-Print: <a href="https://arxiv.org/abs/2208.11116" target="_blank">2208.11116 [hep-th]</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2206.14790" target="_blank">Feynman parameter integration through differential equations</a></h4>
            <p>Martijn Hidding, Johann Usovitsch</p>
            <p>Published in: June 2022 • e-Print: <a href="https://arxiv.org/abs/2206.14790" target="_blank">2206.14790 [hep-ph]</a></p>
            <p>DOI: <a href="https://doi.org/10.1103/PhysRevD.108.036024" target="_blank">10.1103/PhysRevD.108.036024</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2206.10490" target="_blank">Next-to-leading-order QCD corrections to Higgs production in association with a jet</a></h4>
            <p>Roberto Bonciani, Vittorio Del Duca, Hjalte Frellesvig, Martijn Hidding, Valentin Hirschi, Francesco Moriello, Giulio Salvatori, Gábor Somogyi, Francesco Tramontano</p>
            <p>Published in: 2023 • e-Print: <a href="https://arxiv.org/abs/2206.10490" target="_blank">2206.10490 [hep-ph]</a></p>
            <p>DOI: <a href="https://doi.org/10.1016/j.physletb.2023.137995" target="_blank">10.1016/j.physletb.2023.137995</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2203.07088" target="_blank">Functions Beyond Multiple Polylogarithms for Precision Collider Physics</a></h4>
            <p>Jacob L. Bourjaily, Johannes Broedel, Ekta Chaubey, Claude Duhr, Hjalte Frellesvig, Martijn Hidding, Robin Marzucca, Andrew J. McLeod, Marcus Spradlin, Lorenzo Tancredi, Cristian Vergu, Matthias Volk, Anastasia Volovich, Matt von Hippel, Stefan Weinzierl, Matthias Wilhelm, Chi Zhang</p>
            <p>Published in: March 2022 • e-Print: <a href="https://arxiv.org/abs/2203.07088" target="_blank">2203.07088 [hep-ph]</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2201.02576" target="_blank">Evaluation of multiloop multiscale Feynman integrals for precision physics</a></h4>
            <p>Ievgen Dubovyk, Ayres Freitas, Janusz Gluza, Krzysztof Grzanka, Martijn Hidding, Johann Usovitsch</p>
            <p>Published in: 2022 • e-Print: <a href="https://arxiv.org/abs/2201.02576" target="_blank">2201.02576 [hep-ph]</a></p>
            <p>DOI: <a href="https://doi.org/10.1103/PhysRevD.106.L111301" target="_blank">10.1103/PhysRevD.106.L111301</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4>Computational and mathematical aspects of Feynman integrals</h4>
            <p>Martijn Hidding</p>
            <p>PhD Thesis, Trinity Coll., Dublin, 2021</p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/2006.05510" target="_blank">DiffExp, a Mathematica package for computing Feynman integrals in terms of one-dimensional series expansions</a></h4>
            <p>Martijn Hidding</p>
            <p>Published in: 2021 • e-Print: <a href="https://arxiv.org/abs/2006.05510" target="_blank">2006.05510 [hep-ph]</a></p>
            <p>DOI: <a href="https://doi.org/10.1016/j.cpc.2021.108125" target="_blank">10.1016/j.cpc.2021.108125</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/1911.06308" target="_blank">The complete set of two-loop master integrals for Higgs + jet production in QCD</a></h4>
            <p>Hjalte Frellesvig, Martijn Hidding, Leila Maestri, Francesco Moriello, Giulio Salvatori</p>
            <p>Published in: June 2020 • e-Print: <a href="https://arxiv.org/abs/1911.06308" target="_blank">1911.06308 [hep-ph]</a></p>
            <p>DOI: <a href="https://doi.org/10.1007/JHEP06(2020)093" target="_blank">10.1007/JHEP06(2020)093</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/1907.13156" target="_blank">Evaluating a family of two-loop non-planar master integrals for Higgs + jet production with full heavy-quark mass dependence</a></h4>
            <p>R. Bonciani, V. Del Duca, H. Frellesvig, J. M. Henn, M. Hidding, L. Maestri, F. Moriello, G. Salvatori, V. A. Smirnov</p>
            <p>Published in: January 2020 • e-Print: <a href="https://arxiv.org/abs/1907.13156" target="_blank">1907.13156 [hep-ph]</a></p>
            <p>DOI: <a href="https://doi.org/10.1007/JHEP01(2020)132" target="_blank">10.1007/JHEP01(2020)132</a></p>
        </header>
    </div>
    
    <div class="entry">
        <header>
            <h4><a href="https://arxiv.org/abs/1712.04441" target="_blank">All orders structure and efficient computation of linearly reducible elliptic Feynman integrals</a></h4>
            <p>Martijn Hidding, Francesco Moriello</p>
            <p>Published in: January 2019 • e-Print: <a href="https://arxiv.org/abs/1712.04441" target="_blank">1712.04441 [hep-ph]</a></p>
            <p>DOI: <a href="https://doi.org/10.1007/JHEP01(2019)169" target="_blank">10.1007/JHEP01(2019)169</a></p>
        </header>
    </div>
    
</section>