<section id="one">
  <h2>List of conference talks</h2>
      <p>
          You can watch video recordings of certain talks by clicking on the video icon.
      </p>
      <table class="three-column-table">
          <tr>
            <th>Conference name</th>
            <th>Location</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>MathemAmplitudes 2023 <a href="https://indico.dfa.unipd.it/event/847/contributions/952/attachments/960/1949/3.Hidding_MA23.pdf">
                <i class="fas fa-file-pdf"></i>
            </a></td>
            <td>Padova</td>
            <td>Sep 2023</td>
         </tr>    
          <tr>
            <td>Elliptics &#96;23 <a href="https://indico.phys.ethz.ch/event/50/attachments/355/836/230904-Elliptics23-Hidding.pdf">
                <i class="fas fa-file-pdf"></i>
            </a></td>
            <td>ETH Zurich</td>
            <td>Sep 2023</td>
         </tr>        
          <tr>
              <td>Amplitudes 2023 <a href="https://cds.cern.ch/record/2867372">
                  <i class="fas fa-video"></i>
              </a>&nbsp;<a href="https://indico.cern.ch/event/1228963/contributions/5506385/attachments/2696804/4680380/Talk_Amplitudes_2023.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>CERN</td>
              <td>Aug 2023</td>
          </tr>
          <tr>
              <td>From Amplitudes to Gravitational Waves <a href="https://indico.fysik.su.se/event/8124/contributions/12800/attachments/5394/6804/Talk%20Nordita.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Nordita</td>
              <td>Jul 2023</td>
          </tr>
          <tr>
            <td>Higgs, Flavor and Beyond (DESY Theory Workshop 2022) <a href="https://indico.desy.de/event/34520/contributions/129945/attachments/77484/100205/Hidding.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
            <td>DESY Hamburg</td>
            <td>Sep 2022</td>
          </tr>
          <tr>
              <td>QCD Meets Gravity 2022 <a href="https://indico.phys.ethz.ch/event/22/contributions/205/attachments/168/269/Hidding_Video.mp4">
                  <i class="fas fa-video"></i>
              </a>&nbsp;<a href="https://indico.phys.ethz.ch/event/22/contributions/205/attachments/168/233/MartijnHidding_Talk.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>ETH Zurich</td>
              <td>Dec 2022</td>
            </tr>
          <tr>
            <td>High Precision for Hard Processes (HP2 2022) <a href="https://conference.ippp.dur.ac.uk/event/1100/contributions/5795/attachments/4645/5773/Slides%20HP2.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
            <td>Durham University</td>
            <td>Sep 2022</td>
          </tr>
          <tr>
          <td>
              Crossing the bridge: New connections in number theory and physics
              <a href="https://www.youtube.com/watch?v=n8gIlknkK4w">
                  <i class="fas fa-video"></i>
              </a></td>
            <td>Cambridge University</td>
            <td>Aug 2022</td>
          </tr>
          <tr>
            <td>CERN Workshop on "Precision calculations for future e+e- colliders: targets and tools" <a href="https://indico.cern.ch/event/1140580/contributions/4863937/attachments/2464677/4226361/Talk_FCCee.pdf">
              <i class="fas fa-file-pdf"></i>
          </a></td>
            <td>CERN</td>
            <td>Jun 2022</td>
          </tr>
          <tr>
            <td>RADCOR - Loopfest <a href="https://indico.cern.ch/event/958085/contributions/4329104/attachments/2246417/3809850/RADCORLoopfestSlides.pdf">
              <i class="fas fa-file-pdf"></i>
          </a></td>
            <td>Zoom talk, FSU</td>
            <td>May 2021</td>
          </tr>
          <tr>
            <td>Elliptics and Beyond
              <a href="https://www.youtube.com/watch?v=C8UjZxFh4T4">
                <i class="fas fa-video"></i>
              </a>&nbsp;<a href="https://indico.cern.ch/event/927781/contributions/3926287/attachments/2101228/3532584/Conference_Talk_Elliptics_And_Beyond_2.pdf">
                <i class="fas fa-file-pdf"></i>
            </a></td>
            <td>Zoom talk, CERN</td>
            <td>Sep 2020</td>
          </tr>
          <tr>
            <td>Elliptics '19 <a href="assets/pdf/Elliptics 2019.pdf">
              <i class="fas fa-file-pdf"></i>
          </a></td>
            <td>AEI Potsdam</td>
            <td>Sep 2019</td>
          </tr>
        </table>
        <h2>List of seminar talks</h2>  
        <table class="equal-width-table">
          <tr>
              <th>Location</th>
              <th>Date</th>
              <th>Location</th>
              <th>Date</th>
          </tr>
          <tr>
            <td>Brookhaven <a href="assets/pdf/Brookhaven 2023.pdf">
                <i class="fas fa-file-pdf"></i>
            </a></td>
            <td>Sep 2023</td>
         </tr>
          <tr>
              <td>ETH Zurich <a href="assets/pdf/Seminar_Zurich_2023.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>May 2023</td>
              <td>KIT <a href="assets/pdf/KIT Seminar 2023.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Jan 2023</td>
          </tr>
          <tr>
              <td>UCLA <a href="assets/pdf/Seminar UCLA.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Apr 2022</td>
              <td>Niels Bohr Institute <a href="assets/pdf/Seminar NBI.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Jan 2022</td>
          </tr>
          <tr>
              <td>INFN - UNIMI - UNIMIB <a href="assets/pdf/INFN Seminar.pdf"><i class="fas fa-file-pdf"></i></a></td>
              <td>Jun 2021</td>
              <td>University of Cambridge <a href="https://www.hep.phy.cam.ac.uk/~conference/Hidding_2021-02-18.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Feb 2021</td>
          </tr>
          <tr>
              <td>University of Turin <a href="assets/pdf/Torino Seminar 2020.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Dec 2020</td>
              <td>KIT <a href="assets/pdf/KIT Seminar 2020.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Oct 2020</td>
          </tr>
          <tr>
              <td>Nikhef <a href="https://indico.nikhef.nl/event/2198/attachments/2246/2622/Seminar_Nikhef_2020.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>May 2020</td>
              <td>The University of Edinburgh <a href="assets/pdf/Seminar Edinburgh 2020.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Apr 2020</td>
          </tr>
          <tr>
              <td>ETH Zurich <a href="https://www.physik.uzh.ch/dam/jcr:51a1c1fd-68e4-4e73-b9b5-ae92d679f04d/Seminar_Zurich_Published.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Oct 2019</td>
              <td>The University of Edinburgh <a href="assets/pdf/Seminar Edinburgh 2018.pdf">
                  <i class="fas fa-file-pdf"></i>
              </a></td>
              <td>Nov 2018</td>
          </tr>
          <tr>
              <td>ETH Zurich</td>
              <td>Jan 2018</td>
              <td>Trinity College Dublin</td>
              <td>Jan 2018</td>
          </tr>
      </table>
  </section>  